########################
## Project
########################
.idea/*
vendor/*
.idea
composer.lock

########################
## Environnement
########################
[Rr]obots.txt
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini
# Mac crap
.DS_Store


